@model IEnumerable<ExchangeLogistixMVC.Models.Trailer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChasisSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextLoadLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLoadDestination)
        </th>
        <th>
            @Html.ActionLink("Current Load ETA", "Index", new { psSortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChasisSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextLoadLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLoadDestination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLoadETA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.ActionLink("Match", "ShowMatch", new { pnID = item.TrailerID }) |
            @Html.ActionLink("Edit", "Edit", new { pnID = item.TrailerID }) |
            @Html.ActionLink("Details", "Details", new { pnID = item.TrailerID }) |
            @Html.ActionLink("Delete", "Delete", new { pnID = item.TrailerID })
        </td>
    </tr>
}

</table>
