@model IEnumerable<ExchangeLogistixMVC.Models.Trailer>

@{
    ViewBag.Title = "PastTrailer";
}

<h2>PastTrailer</h2>
<p>
    @Html.ActionLink("Return to My Trailer", "MyTrailer")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChasisSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextLoadLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLoadDestination)
        </th>
        <th>
            @Html.ActionLink("Current Load ETA", "PastTrailer", new { psSortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChasisSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextLoadLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLoadDestination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLoadETA)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { pnID = item.TrailerID }) |
            @Html.ActionLink("Delete", "Delete", new { pnID = item.TrailerID })
        </td>
    </tr>
}

</table>
